# Compiled class file
*.class

# Log file
*.log

# Eclipse project info
*.classpath
*.project
*.settings

# idea
*.iml
*.idea

# Compiling
TWIMExtract_build
Output
classes/artifacts/RawExtractor_v3_6_jar/RawExtractor_v3.6.jar
jars/TWIMExtract.jar
